@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;1,200;1,300;1,600&family=Rubik:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-content: center;
}


/*Menu*/

.header {
    width: 100%;
    background-color: rgb(211, 232, 235);
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.title {
    width: 100%;
    text-align: center;
    background: linear-gradient(45deg, rgb(0, 255, 0), rgb(255, 0, 0), rgb(0, 0, 255) );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5vh;
    font-family: rubik;
}

/*nav-bar*/

nav {
    background: var(--clr-white);
    height: 3rem;
    display: grid;
    align-items: center;
    box-shadow: var(--dark-shadow);
}
  
.nav-links {
    display: flex;
}

nav a {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 2rem;
    color: rgb(0, 38, 255);
    margin-right: 1rem;
}

nav a:hover {
    color: hsl(205, 78%, 60%);
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
    padding: 5px;
    border: black 2px dotted;
    border-radius: 25px;
}

.current {
    background-color: #f15025;
}




/*main*/

.container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.show-color {
    width: 100%;
    text-align: center;
    font-size: 3vh;
    color: white;
    background-color: rgb(36, 33, 33);
    height: 9vh;
    border-radius: 25px;
    max-width: 1200px;
    margin: 10px;

}

span {
    letter-spacing: 8px;
    color: rgb(73, 179, 214);
}

/*buttons*/

.color-button {
    width: 300px;
    height: 90px;
    border-radius: 25px;
    display: inline-block;
    font-size: 1.5vh;
    font-family: rubik;
    cursor: pointer;
    top: 200px;
}

.copy {
    width: 100px;
    height: 90px;
    border-radius: 25px;
    font-size: 1.5vh;
    font-family: rubik;
    cursor: pointer;
    top: 200px;
}

.copy:hover {
    background-color: #FFD43B;
}

.color-button:hover {
    background-color: #f15025;
}


#colorInput{
    font-size: 40px;
    visibility: hidden;
}
